<div class="container">

	<div class="col-sm-6 col-sm-offset-3">

		<h1>CheckOUt</h1>

		<h4>Your Total:${{total}}</h4>
		<div id="charge-error" class="alert alert-danger {{#if noErrors}} hidden {{/if}}">
			{{errMsg}}
		</div>
		<!-- checkout FORM -->
		<form action="/checkout" method="post" id="checkout-form">
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control" name="name" id="card-name">
			</div>
			<div class="form-group">
				<label>Address</label>
				<input type="text" class="form-control" name="address">
			</div>
			<div class="form-group">
				<label>Card Holder Name</label>
				<input type="text" class="form-control" name="cardName">
			</div>
			<div class="row">
				<div class="form-group col-sm-6">
					<label>Credit Card Number</label>
					<input type="text" class="form-control" name="cardNum", id="card-number">
				</div>
				<div class="form-group col-sm-6">
					<label>Expiration Month</label>
					<input type="text" class="form-control" name="monthHolderName" id="card-expiry-month">
					<label>Expiration Year</label>
					<input type="text" class="form-control" name="yearHolderName" id="card-expiry-year">
				</div>
			</div>
			<div class="form-group">
				<label>CVC</label>
				<input type="text" class="form-control" name="cvc" id="card-cvc">
			</div>

			<button type="submit" class="btn btn-success btn-lg">Buy Now</button>
		</form>

	</div>

</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="/javascripts/checkout.js"></script>